*{
    margin: 0%;
    padding: 0%;
    color:white;
    font-family: sans-serif;
    font-style: bold;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("./image.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.countertimer{
    display: flex;
}
.countertimer>p{
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.countertimer>p>span{
    display: block;
    font-size: 4rem;
}
.days{
    background-color: rgb(73, 43, 43);
    border-radius: 20%;
}
.hours{
    background-color: rgb(73, 43, 43);
    border-radius: 20%;
}
.minutes{
    background-color: rgb(73, 43, 43);
    border-radius: 20%;
}
.seconds{
    background-color: rgb(73, 43, 43);
    border-radius: 20%;
}
